header
  nav
    .container
      .nav-flex
        .logo
          h1
            a(href='/') Node-API
        ul.menu
          li
            form(action='')
              input(type='text' name='search' placeholder='Input Text Here' required='')
              button(type='submit' name='submit')
                i.fas.fa-search
          li
            a(href='/users') User
          li
            a(href='/form') Form
          li
            a(href='contact.html') Contact
